/* ==========================================================================
my_design
========================================================================== */

/*fonts*/

@font-face {
    font-family: 'icomoon';
    src:url('../media/fonts/icomoon.eot');
    src:url('../media/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/icomoon.woff') format('woff'),
    url('../media/fonts/icomoon.ttf') format('truetype'),
    url('../media/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset font-family for before */
[class*="ty-icon-"]:before {
  font-family: inherit;
}

/*icons*/

.ty-icon-down-micro {
    font-family: 'icomoon';
}

/*global*/

a {
    color: #554c3b;
}

a:hover {
    color: #554c3b;
    text-decoration: underline;
}

/*header*/
/*top menu*/

.tygh-top-panel {
    background-color: #463a31;
    background-image: none;
    padding: 6.5px 0;
    
}

.ty-select-block__a-flag {
    display: none;
}

.ty-select-block__a-item {
    color: #eeeeee;
}
.ty-select-block__arrow.ty-icon-down-micro::before {
    color: #eeeeee;
}
/*language and $*/

.ty-select-block {
    background-color: #f4f6f2;
}

.ty-select-block__list-item .ty-select-block__list-a {
    color: #554940;
}

.ty-select-block__list-a:hover {
    color: #eeeeee;
    background-color: #7c9020;
}

.ty-select-block__a.open, 
.ty-select-block__a.open:hover,
.ty-select-block__a:hover {
    background: none;
}

.ty-select-block__a:hover .ty-select-block__a-item,
.ty-select-block__a:hover .ty-icon-down-micro:before {
    color: #9b8c73;
}

/*additional references*/

.top-quick-links a {
    color: #eeeeee;
}

.ty-text-links__active > .ty-text-links__a, .no-touch .ty-text-links__a:hover {
    color: #9b8c73;
}

.ty-text-links_show_inline .ty-level-0 > .ty-text-links {
    background-color: #9b8c73;;
}

.ty-level-1 .ty-text-links__a:hover {
    color: #463a31;
}

/*user-block*/

.ty-icon-user:before {
    content: "";
    background-image: url(http://localhost/cscart/images/hunter/spritesheet--hunter.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    background-position: -10px -10px;
    /*В данном случае я решил использовать спрайт для иконок, вместо иконочного шрифта по следующим причинам: 
        1. Не предусмотрено изменение внешнего вида иконок (не заданы доп стили при наведении).
        2. На сайте icomoon.io иконки, аналогичные иконкам из макета, отсутствуют или являются платными*/
}

.ty-account-info__title-txt {
    color: #eeeeee;
}

.ty-account-info__user-arrow::before {
    color: #eeeeee;
}

.ty-icon-down-micro:before {
    content: "\e902";
}

.ty-dropdown-box__title.open {
    background: none;
    color: #9b8c73;
}

.ty-dropdown-box__title:hover {
    background: none;
}

.ty-dropdown-box__title:hover .ty-account-info__title-txt,
.ty-dropdown-box__title:hover .ty-account-info__user-arrow::before {
    color: #9b8c73;
}

.ty-dropdown-box__content {
    background-color: #f4f6f2;
}

.ty-account-info {
    background-color: #f4f6f2;
}

.ty-account-info__a {
    color: #554940;
}

.ty-dropdown-box__content .ty-dropdown-box__item:hover {
    background-color: #7c9020;
}

.ty-dropdown-box__content .ty-account-info__orders {
    background-color: #9b8c73;
}

.ty-account-info__orders-txt {
    color: #eeeeee;
}

.ty-input-append .ty-input-text {
    border: 2px solid #9b8c73;
    border-radius: 30px;
}

input[type="text"]:focus {
    border-color: #7c9020;
}

.ty-btn-go {
    height: 0;
}

.ty-dropdown-box__content .ty-account-info__buttons {
    background: #9b8c73; 
}

.ty-btn__secondary {
    background: #7c9020;
}

.ty-btn__secondary:hover {
    background: rgba(124, 144, 32, 0.5)
}

.ty-btn__primary {
    background: #df5900;
}

.ty-btn__primary:hover {
    background: rgba(223, 89, 0, 0.5);
}

/*tygh-header (header middle menu)*/
/*search*/

.tygh-header {
    margin: 0 0 10px 0;
}

input.ty-search-block__input {
    height: 49px;
    border: 2px solid #9b8c73;
    border-radius: 30px;
}

.ty-icon-search:before {
    content: "\e029";
    color: #9b8c73;
    position: absolute;
    top: 10px;
}

input.ty-search-block__input:focus {
    border: 2px solid #7c9020;
}

/*phone*/

.ty-cr-phone-number-link {
    text-align: left;
}

.ty-cr-phone-number-link .ty-cr-phone,
.ty-cr-phone-number-link .ty-cr-phone-prefix {
    font-size: 18px;
    font-weight: 700;
    color: #7c9020;
}

.ty-cr-phone-number-link .ty-cr-link a{
    font-size: 13px;
    color: #554940;
}

/*cart*/

.ty-minicart__icon.ty-icon-basket.empty::before {
    content: '';
    background-image: url(http://localhost/cscart/images/hunter/spritesheet--hunter.png);
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;
    background-position: -49px -10px;
}

.ty-minicart-title {
    font-size: 13px;
    color: #554940;
    padding-left: 25px;
}

.top-cart-content .ty-icon-down-micro:before {
    color: #554940;
}

/*main menu*/

.ty-menu__items {
    background-color: #f4f6f2;
}

.ty-menu__item-active .ty-menu__item-link {
    background: none;
}

.ty-menu__item .ty-menu__item-link {
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: #554940;
    /*Из-за медленной отрисовки границ при наведении, я решил сделать их изначально, чтобы их не было видно, то сделал одинакового цвета с фоном*/
    border-radius: 30px;
    border: 2px solid #f4f6f2;
}

.ty-menu__item-active .ty-menu__item-link,
.no-touch .ty-menu__item:hover .ty-menu__item-link, 
.is-hover-menu .ty-menu__item-link, 
.is-hover-menu.ty-menu__item-active .ty-menu__item-link{
    background: none;
    color: #7c9020;
    border: 2px solid #7c9020;
    border-radius: 30px;
}

.container-fluid > .ty-menu__items {
    padding: 16.5px 0;
}

.ty-menu__submenu-items {
    border: 1px solid #7c9020;
    border-radius: 30px;
}

.ty-menu__submenu-item-header .ty-menu__submenu-link,
.ty-menu__submenu-items .ty-menu__submenu-link {
    color: #7c9020;
}

.ty-menu__submenu-link:hover {
    text-decoration: underline;
}

.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a {
    background-color: #7c9020;
}

/*main-banner*/

.main-banner--hunter {
    background-color: #9b8c73;
    height: 400px;
    background-image: url(http://localhost/cscart/images/hunter/banner-hunter.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-banner--hunter__content {
    display: block;
    float: right;
    height: 211px;
    width: 395px;
    margin: 100px 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 0 20px;
}

.main-banner--hunter__title {
    font-size: 60px;
    line-height: 90px;
    color: #ffffff;
}

.main-banner--hunter__text {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

/*content*/
/*background texture*/

.tygh-content > div,
.tygh-content {
    background-image: url(http://localhost/cscart/images/hunter/follow-bacgr.png);
}

/*title block*/

.ty-mainbox-simple-title {
    font-family: "PTSerif";
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b8b8b8;
    color: #554c3b;
    text-transform: uppercase;
    position: relative;
}

.ty-mainbox-simple-title:after {
    display: block;
    content: '';
    border-bottom: 3px solid #7c9020;
    width: 45px;
    position: absolute;
    top: 31px;
}

.ty-owl-controls {
    margin: -47px 0 0 0;
}

.ty-icon-left-open-thin,
.ty-icon-right-open-thin {
    display: none;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: none;
    background-image: url(http://localhost/cscart/images/hunter/spritesheet--hunter.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 22px;
    background-position: -63px -52px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    background: none;
    background-image: url(http://localhost/cscart/images/hunter/spritesheet--hunter.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 22px;
    background-position: -10px -52px;
}

.owl-theme .owl-controls .owl-buttons div {
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
}

/*items*/
/*hot deals*/

.ty-simple-list .ty-discount-label {
    top: 0;
}

.ty-simple-list .ty-discount-label:before {
    width: 0;
}

.homepage-hotdeals .owl-item {
    background: #fff;
    margin-right: 20px;
}

@media (min-width: 1224px) {
    .homepage-hotdeals .owl-item {
        width: 280px !important;
    }
}

.homepage-hotdeals .product-title {
    color: #787240;
}

.homepage-hotdeals .product-title:hover {
    color: #787240;
    text-decoration: underline;
}

/*on sale*/

.ty-grid-list__item {
    background-color: #ffffff;
    min-height: 370px;
    padding: 0 25px;
    position: relative;
}

.ty-grid-list__image {
    border: none;
}

.ty-grid-list__item-name .product-title {
    color: #554940;
    min-height: 45px;
}

.ty-grid-list__item-name .product-title:hover {
    color: #554940;
    text-decoration: underline;
}

.ty-price {
    margin-right: 10px;
}

.ty-price-num {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
}

.ty-list-price .ty-nowrap {
    font-size: 16px;
    color: #9b8c73;
}

.ty-strike {
    font-size: 16px;
    color: #9b8c73;
}

.ty-quick-view-button {
    position: absolute;
    top: 70px;
    left: 80px;
}

.ty-grid-list__item:hover .ty-quick-view-button {
    visibility: visible;
}

.ty-quick-view-button > .ty-btn__secondary {
    background: #9b8c73;
    border-radius: 30px;
}

.ty-quick-view-button > .ty-btn__secondary:hover {
    background: #554940;
}

.ty-icon-left-circle:before,
.ty-icon-right-circle:before {
    color: #9b8c73;
}

.ty-icon-left-circle:hover::before,
.ty-icon-right-circle:hover::before {
    color: #554940;
}

.ty-grid-list__price {
    margin-bottom: 25px;
}

.ty-btn__add-to-cart {
    width: 120px;
    font-size: 12px;
    font-weight: 600;
    background: #7c9020;
    border-radius: 30px;
}

.ty-btn__add-to-cart:hover {
    background: #df5900;
}

.ty-cr-product-button {
    display: inline-block;
    width: 90px;
    font-size: 12px;
    font-weight: 600;
    color: #7c9020;
}

.ty-cr-product-button:hover {
    color: #7c9020;
    text-decoration: underline;
}

.ty-discount-label {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient (to left top, #fff 50%, #df5900 50%);
}

.ty-discount-label__item {
    font-size: 11px;
    position: absolute;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    top: 12px;
    left: -17px;
}

.ty-grid-list__item .ty-discount-label {
    left: -25px;
}

/*brands*/

.homepage-our-brands .ty-mainbox-simple-body {
    background-color: #fff;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    padding: 10px 0;
}

.ty-grayscale {
    filter: none;
}

/*blog mini*/

/*rating*/

.ty-caret-bottom {
    display: none;
}

.ty-discussion-post {
    background-color: #ffffff;
    padding: 35px 30px;
    position: relative;
    border: 1px solid #999999;
}

.ty-discussion-post::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -11px;
    left: 40px;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
}

.ty-discussion-post__message {
    position: relative;
    font-size: 13px;
    line-height: 15px;
    color: #554c3b;
}

.ty-discussion-post__message::before {
    content: '“';
    font-size: 45px;
    font-family: "PTSerif";
    color: #554c3b;
    position: absolute;
    top: 0px;
    left: -20px;
}

.ty-discussion-post__author {
    font-family: "PTSerif";
    font-size: 14px;
    line-height: 15px;
    color: #554c3b;
}

.ty-stars {
    color: #9b8c73;
}

/*stay conecteed*/

.footer-stay-connected {
    background: none;
    background-image: url(http://localhost/cscart/images/hunter/follow-bacgr.png);
}

h3.ty-footer-form-block__title, 
h3.ty-social-link__title {
    font-size: 20px;
    font-weight: 700;
    color: #434343;
}

input.ty-input-text {
    background-color: #eeeeec;
    height: 49px;
}

.ty-footer-form-block__form {
    width: 430px;
}

.ty-btn-go__icon {
    display: none;
}

.ty-btn-go {
    position: absolute;
    top: 13px;
    right: 5px;
    background-image: url(http://localhost/cscart/images/hunter/spritesheet--hunter.png);
    width: 20px;
    height: 22px;
    background-position: -116px -55px;
    background-color: none;
}

/*social link block*/

.ty-social-link-block {
    margin-top: 28px;
}

.ty-social-link a{
    font-size: 0;
}

.ty-social-link {
    margin-right: 0px;
}

.ty-icon-facebook::before {
    color: #3b3a2e;
}

.ty-icon-twitter::before {
    color: #3b3a2e;
}

.ty-icon-facebook:hover::before {
    color: #7c9020;
}

.ty-icon-twitter:hover::before {
    color: #7c9020;
}

/*main footer*/

.ty-footer-grid__full-width.ty-footer-menu {
    background-image: url(http://localhost/cscart/images/hunter/bacgr--footer.png);
}

.ty-footer-general__header {
    font-size: 15px;
    font-weight: 600;
    color: #2e2e2e;
    cursor: default;
}

.ty-footer-menu__item a {
    font-size: 13px;
    line-height: 24px;
    color: #2e2e2e;
}

.ty-footer-menu__item a:hover {
    color: #7c9020;
}

/*bottom panel*/

.footer-copyright {
    background-color: #3b3a2e;
}

.bottom-copyright {
    color: #f6f4e9;
}

a.bottom-copyright:hover {
    color: #7c9020;
}

.ty-payment-icons__item {
    opacity: 0.7;
}

.ty-payment-icons__item:hover {
    opacity: 1;
}

/*other pages*/
/*breadcrmbs*/

.ty-breadcrumbs__a {
    color: #554940;
}

.ty-breadcrumbs__a:hover {
    color: #7c9020;
}

.ty-breadcrumbs__current {
    color: #7c9020;
    font-weight: 600;
}

/*prod templates*/

.ty-product-block-title {
    font-size: 23px;
    color: #212121;
    text-transform: capitalize;
}

.ty-control-group__label {
    font-size: 13px;
    color: #554940;
}

.ty-qty-in-stock {
    font-size: 12px;
    color: #7c9020;
}

input.ty-value-changer__input {
    border-color: #9b8c73;
    border-radius: 10px;
    color: #7c9020;
}

.ty-value-changer__input:focus {
    border-color: #7c9020;
}

.ty-value-changer__increase,
.ty-value-changer__decrease {
    border-color: #9b8c73;
    border-radius: 5px;
    color: #7c9020;
}

.no-touch .ty-value-changer__increase:hover,
.no-touch .ty-value-changer__decrease:hover {
    background: #7c9020;
    color: #fff;
    text-decoration: none;
}

.ty-btn__text {
    font-size: 12px;
    font-weight: 600;
    color: #7c9020;
}

.ty-btn__text:hover {
    text-decoration: underline;
    color: #7c9020;
}

.ty-tabs__item {
    background-color: #9b8c73;
}

.ty-tabs__item.active {
    background-color: #463a31;
}

.ty-tabs__a {
    color: #eeeeee;
}

/*for phone*/

@media (max-width: 767px) {
    .ty-grid-list__item:hover {
    background: #ffffff;
    }
}

.ty-icon-short-list:before {
    color: #9b8c73;
}

.ty-text-links-btn__arrow::before {
    color: #ffffff;
}

.ty-text-links-btn__arrow:hover::before {
    color: #9b8c73;
}